# ignore raw sequence data (output of fondue)
0-fondue-output/
0-paired_reads/
1-seqs_arc.qza
1-seqs_bac.qza
fondue-output*
silva-138-ssu-nr99-seqs.qza$
silva-138-ssu-nr99-tax.qza$
silva-138-ssu-nr99-seqs-filt.qza$
silva-138-ssu-nr99-seqs-discard.qza$
silva-138-ssu-nr99-seqs-cleaned.qza$
silva-138-ssu-nr99-seqs-derep-uniq.qza$
silva-138-ssu-nr99-tax-derep-uniq.qza$
silva-138-ssu-nr99-seqs-349f-806r.qza$
silva-138-ssu-nr99-seqs-27f-338r.qza$
